# Relay Node A
NODE_ID=A
PORT=3001
PEER_URLS=["http://localhost:3002","http://localhost:3003"]

# Relay Node B
# NODE_ID=B
# PORT=3002
# PEER_URLS=["http://localhost:3001","http://localhost:3003"]

# Relay Node C
# NODE_ID=C
# PORT=3003
# PEER_URLS=["http://localhost:3001","http://localhost:3002"]
